<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>seja bem vindo</title>
</head>
<body>
    <h1>seja bem vindo(a)!</h1>
    <p>seu nome é: <%= nome %></p>
    <p>sua idade é: <%= idade %></p>
    <a href="/">oi!</a>
    <br>
    <br>
    <a href="/despedida">tchau!</a>
</body>
</html>