<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>atividade 2</title>
</head>
<body>
    <h1>oi, <%= nome %>!</h1>
    <p><3</p>
    <a href="/boasvindas">bem vindo!</a>
    <br>
    <br>
    <a href="/despedida">tchau!</a>

</body>
</html>